# Python Day 2 Assignment 1

1. Try 5 Different functions of the String in python

In [4]:
name="pooja waghale"

In [6]:
name.index("j")

3

In [7]:
address="osmanabad"

In [8]:
address

'osmanabad'

In [9]:
name.split()

['pooja', 'waghale']

In [10]:
name[4]

'a'

In [11]:
name.upper()

'POOJA WAGHALE'

In [15]:
address.title()

'Osmanabad'

In [16]:
type(name)

str

In [17]:
address.isspace()

False

# Python Day 2 Assignment 2

2.Try 5 Different functions of the list object in python

In [36]:
lst=["pooja",22,3.6,'k',"waghale",[23,43,5.6,"swaaa"]]

In [37]:
lst

['pooja', 22, 3.6, 'k', 'waghale', [23, 43, 5.6, 'swaaa']]

In [20]:
type(lst)

list

In [38]:
lst[5]

[23, 43, 5.6, 'swaaa']

In [39]:
lst[5][2]

5.6

In [48]:
lst.append("seeta")

In [49]:
lst

['first',
 'first',
 'pooja',
 22,
 3.6,
 'k',
 'waghale',
 [23, 43, 5.6, 'swaaa'],
 'komal',
 'komal',
 'komal',
 'komal',
 'seeta']

In [50]:
lst.reverse()

In [51]:
lst

['seeta',
 'komal',
 'komal',
 'komal',
 'komal',
 [23, 43, 5.6, 'swaaa'],
 'waghale',
 'k',
 3.6,
 22,
 'pooja',
 'first',
 'first']

In [62]:
lst.remove("waghale")

In [63]:
lst

['komal',
 'komal',
 'komal',
 'komal',
 'seeta',
 [23, 43, 5.6, 'swaaa'],
 'k',
 3.6,
 22,
 'first',
 'first']

In [64]:
lst.clear()

In [65]:
lst

[]

In [66]:
lst.copy()

[]

# Python Day 2 Assignment 3

3.Experiment with at least 5 default functions of Dictionary

In [67]:
my_dict ={ }

In [68]:
my_dict

{}

In [69]:
my_dict ={1:'pooja',2:'swaaa',3:'komal',4:'moin'}

In [70]:
my_dict

{1: 'pooja', 2: 'swaaa', 3: 'komal', 4: 'moin'}

In [72]:
print(my_dict[1])

pooja

In [73]:
my_dict[2]="akashay"

In [74]:
my_dict

{1: 'pooja', 2: 'akashay', 3: 'komal', 4: 'moin'}

In [75]:
my_dict.clear()

In [76]:
my_dict

{}